<div >
  <center>
    <img style="max-width: 98%" src="../images/35120.jpg">

  <h1 class="line" style="	position:absolute;top: 125px; left: 260px;">
    Welcome<br>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary", style: "background: none repeat scroll 0% 0% #FFA726;" %><br><br>
  </h1>
  </center>
</div>
