<textarea cols="30" rows="3" wrap="physical" placeholder="what's new" ></textarea>
<form>
  <input type="submit" value=" Send" onClick="AlertButton()">
  <script>
      function AlertButton() { window.alert("Сервер тимчасово недоступний. Залишайтесь з нами :)"); }
  </script>
</form>
