<h1>New post</h1>
<div class="row">
  <div class="large-8 columns">
    <%= form_for(@post) do |f| %>
        <%= f.text_area :post, rows: 5, placeholder: "Post"%>
        <%= f.submit "create post", class: "btn btn-large btn-primary", style: "background: #000000;" %>
    <% end %>
  </div>
</div>